.app {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 15px 10px 15px;
  background-color: #000;
  min-height: 400px;
  background: linear-gradient(170.18deg, #2a2a46 4.36%, #2c3f6a 25.89%, #38486a 61%, #386c9d 94.4%);
}
